acme==1.21.0
ansible==10.7.0
ansible-base==2.10.8
ansible-compat==25.1.2
ansible-core==2.17.7
ansible-lint==25.1.2
apache-libcloud==3.2.0
argcomplete==1.8.1
attrs==25.1.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
black==25.1.0
blinker==1.4
bracex==2.5.post1
certbot==1.21.0
certbot-nginx==1.21.0
certifi==2024.2.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
click-help-colors==0.9.4
cloud-init==24.4
colorama==0.4.4
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.1.0
docker==7.1.0
enrich==1.2.7
filelock==3.17.0
gTTS==2.5.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.6
importlib-metadata==4.6.4
incremental==21.3.0
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
josepy==1.10.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
markdown-it-py==3.0.0
MarkupSafe==2.0.1
mdurl==0.1.2
molecule==25.2.0
molecule-plugins==23.7.0
more-itertools==8.10.0
mypy-extensions==1.0.0
netaddr==0.8.0
netifaces==0.11.0
ntlm-auth==1.4.0
numpy==1.26.4
oauthlib==3.2.0
packaging==24.2
parsedatetime==2.6
pathspec==0.12.1
platformdirs==4.3.6
playsound==1.3.0
pluggy==1.5.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.21
pycryptodomex==3.11.0
pycurl==7.44.1
Pygments==2.19.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyICU==2.8.1
PyJWT==2.3.0
pykerberos==1.1.14
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu4
pytz==2022.1
pywinrm==0.3.0
PyYAML==6.0.2
referencing==0.36.2
requests==2.31.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
resolvelib==1.0.1
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scipy==1.12.0
SecretStorage==3.3.1
selinux==3.3
service-identity==18.1.0
simplejson==3.17.6
six==1.16.0
sounddevice==0.4.6
subprocess-tee==0.4.2
systemd-python==234
tomli==2.2.1
Twisted==22.1.0
typing_extensions==4.12.2
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.1
wadllib==1.3.6
wcmatch==10.0
whisper==1.1.10
xmltodict==0.12.0
yamllint==1.35.1
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
